{% extends 'base.html' %}

{% load static %}

{% block title %}
Головна сторінка
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block body %}
<div class="content">

<div class="window-back">
    <form class="window" method="post">
        {% csrf_token %}
        <button id="close-btn"><img src="{% static 'home_app/img/close.png' %}"></button>
        <h1>Створення публікації</h1>
        <div class="window-content">
            <div class="window-input">
                <h3>Назва публікації</h3>
                <input type="text" id="post-title" name="title" placeholder="Назва публікації">
            </div>
            <div class="window-input">
                <h3>Тема публікації</h3>
                <input type="text" id="post-topic" name ='topic' placeholder="Тема публікації">
            </div>
            <div class="window-input">
                <textarea id="post-description" name="description">
                Інколи найкращі ідеї народжуються в тиші
                Природа, книга і спокій — усе, що потрібно, аби перезавантажитись.
                #відпочинок #натхнення #життя #природа #читання #спокій #гармонія
                </textarea>
            </div>
            <div class="window-input">
                <h3>Посилання</h3>
                <input type="text" id="post-link" name='link' placeholder="Посилання">
            </div>
        </div>
        <div class="imgs-container">
            <input type="file" id="post-img">
        </div>
        <div class="bottom">
            <button class="outlined" id="img-btn">
                <img src="{% static 'img/Component3.png' %}" alt="">
            </button>
            <button class="outlined" id="emoji-btn">
                <img src="{% static 'img/Component4.png' %}" alt="">
            </button>
            <button id="publish-btn" type="submit" data-url="{% url 'create' %}">Публікація<img src="{% static 'img/telegram.png' %}"></button>
        </div>
    </form>
</div>

    <aside class="fixed-left-panel">
        <div class="user-profile">
            <div class="user-profile-main-info">
                <img class="user-profile-photo" src="{% static 'home_app/img/UserPhoto.png' %}">
                <div class="user-profile-username">
                    {% if request.user.is_authenticated %}
                    <p class="user-profile-name">
                        {% if request.user.get_full_name|length > 15 %}
                            {{ request.user.get_full_name|slice:":15" }}...
                        {% else %}
                            {{ request.user.username|slice:":15" }}...
                        {% endif %}
                    </p>
                    {% else %}
                        <p class="user-profile-name">Lina Li</p>
                    {% endif %}
                        <p class="user-profile-called-as">@thelili</p>
                </div>
            </div>
            <div class="user-profile-social-stats">
                <div class="user-profile-social-stat-div" >
                    <p class="user-profile-social-stat-publics-count user-profile-social-stat-count" id="user-profile-social-stat-publics-count">566</p>
                    <p class="user-profile-social-stat-name">Дописи</p>
                </div>
                <div class="user-profile-social-stat-div" >
                    <p class="user-profile-social-stat-followers-count user-profile-social-stat-count">12.1K</p>
                    <p class="user-profile-social-stat-name">Читачі</p>
                </div>
                <div class="user-profile-social-stat-div">
                    <p class="user-profile-social-stat-friends-count user-profile-social-stat-count">222</p>
                    <p class="user-profile-social-stat-name">Друзі</p>
                </div>
            </div>
        </div>
        <div class="user-requests">
            <div class="user-requests-titles">
                <a class="user-requests-link" href="/requests">
                    <img src="{% static 'home_app/img/people-requests.png' %}">
                    <p class="user-requests-link-requests">Запити</p>
                </a>
                <a class="user-requests-link" href="/requests">
                    <p class="user-requests-links-show-all" >Дивитись всі</p>
                </a>
            </div>
            <div class="user-requests-peoples">
                <div class="user-requests-people">
                    <img src="{% static 'home_app/img/Avatar.png' %}">
                    <div class="user-requests-people-stats" >
                        <p class="user-requests-people-name" >Yehor Aungh</p>
                        <p class="user-requests-people-followers" >4.3к підписників</p>
                    </div>
                </div>
                <div class="user-requests-people">
                    <img src="{% static 'home_app/img/Avatar2.png' %}">
                    <div class="user-requests-people-stats" >
                        <p class="user-requests-people-name" >Ann Ann</p>
                        <p class="user-requests-people-followers" >1.6к підписників</p>
                    </div>
                </div>
                <div class="user-requests-people">
                    <img src="{% static 'home_app/img/Avatar3.png' %}">
                    <div class="user-requests-people-stats" >
                        <p class="user-requests-people-name" >Yeugen Jenua</p>
                        <p class="user-requests-people-followers" >10.3к підписників</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-messages">
            <div class="user-messages-titles">
                <a class="user-messages-title-messages" href="">
                    <img src="{% static 'home_app/img/chat.png' %}">
                    <p class="" >Повідомлення</p>
                </a>
                <a class="user-messages-title-see-all" href="">
                    <p>Дивитись всі</p>
                </a>
            </div>
            <div class="user-messages-peoples">
                <div class="user-messages-people message-checked">
                    <div class="user-messages-people-inner">
                        <img src="{% static 'home_app/img/Avatar4.png' %}">
                        <div class="user-messages-people-inner-content">
                            <div class="user-messages-people-inner-content-name-time">
                                <p class="user-messages-people-inner-content-name" >Mona Lisa</p>
                                <p class="user-messages-people-inner-content-time" >09:41</p>
                            </div>
                            <div class="user-messages-people-inner-content-message">
                                <p>Привіт! Як справи?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-messages-people message-checked">
                    <div class="user-messages-people-inner">
                        <img src="{% static 'home_app/img/Avatar5.png' %}">
                        <div class="user-messages-people-inner-content">
                            <div class="user-messages-people-inner-content-name-time">
                                <p class="user-messages-people-inner-content-name" >Ann Ti</p>
                                <p class="user-messages-people-inner-content-time" >25.04.2025</p>
                            </div>
                            <div class="user-messages-people-inner-content-message">
                                <p>Привіт!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-messages-people ">
                    <div class="user-messages-people-inner">
                        <img src="{% static 'home_app/img/Avatar6.png' %}">
                        <div class="user-messages-people-inner-content">
                            <div class="user-messages-people-inner-content-name-time">
                                <p class="user-messages-people-inner-content-name" >Ness Ty</p>
                                <p class="user-messages-people-inner-content-time" >25.04.2025</p>
                            </div>
                            <div class="user-messages-people-inner-content-message">
                                <p>Привіт!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="unfixed-right-panel">
    {% if posts %}
        <div class="fast-message">
            <div class="fast-message-content">
                <input class="fast-message-content-input" type="text" placeholder="Про що ти зараз думаєш?">
                <div class="fast-message-content-buttons">
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
                    <button class="fast-message-content-button-publish" type="button">
                        <p>Перейти до оформлення</p>
                        <img src="{% static 'home_app/img/PlaneR.png' %}">
                    </button>
                </div>
            </div>
        </div>
        {% for post in posts %}
        <div class="social-post">
            <div class="social-post-user-info">
                <div class="social-post-inner-user-info">
                    <div class="social-post-inner-user-info-total">
                        <img src="{% static 'home_app/img/Avatar7.png' %}">
                        <p>{{ post.user }}</p>
                    </div>
                    <div class="social-post-inner-user-info-sign">
                        <img src="{% static 'home_app/img/sign.png' %}">
                    </div>
                </div>
                <button class="social-post-dots" data-post-id="{{ post.id }}">
                    <img src="{% static 'home_app/img/Dots.png' %}">
                </button>
            </div>
            <div class="social-post-info">
                <div class="social-post-info-text" data-post-id="{{ post.id }}">
                    <textarea readonly class="social-post-text-content" data-post-id="{{ post.id }}">
{{ post.title }}
{{ post.description }}
#{{ post.tags }}
{{ post.link }}
                    </textarea>
                </div>
                <div class="social-post-info-photos">
                    <div class="social-post-info-photos-group-1">
                        {% if post.img %}
                            <p><img src="{{ post.img.url }}" alt="Картинка публікації"></p>
                        {% endif %}
                    </div>
                </div>
                <div class="social-post-info-stats">
                    <div class="social-post-info-stat-likes">
                        <img src="{% static 'home_app/img/like.png' %}">
                        <p>{{ post.likes }} Вподобань</p>
                    </div>
                    <div class="social-post-info-stat-views">
                        <img src="{% static 'home_app/img/eye.png' %}">
                        <p>{{ post.views }} Переглядів</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <script>document.body.style = 'overflow-y: hidden;'</script>
            <div class="fast-message">
                <div class="fast-message-content">
                    <input class="fast-message-content-input" type="text" placeholder="Про що ти зараз думаєш?">
                    <div class="fast-message-content-buttons">
                        <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
                        <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
                        <button class="fast-message-content-button-publish" type="button">
                            <p>Перейти до оформлення</p>
                            <img src="{% static 'home_app/img/PlaneR.png' %}">
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}