{% extends 'base.html' %}

{% load static %}

{% block title %}
Головна сторінка
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{% static 'home_app/css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/create.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% endblock %}

{% block window %}

<div class="window-back">
    <form class="window" method="post">
        {% csrf_token %}
        <button id="close-btn"><img src="{% static 'home_app/img/close.png' %}"></button>
        <h1>Створення публікації</h1>
        <div class="window-content">
            <div class="window-input">
                <h3>Назва публікації</h3>
                <input type="text" id="post-title" name="title" placeholder="Назва публікації">
            </div>
            <div class="window-input">
                <h3>Тема публікації</h3>
                <input type="text" id="post-topic" name ='topic' placeholder="Тема публікації">
            </div>
            <div class="window-input">
                <textarea id="post-description" name="description">
                Інколи найкращі ідеї народжуються в тиші
                Природа, книга і спокій — усе, що потрібно, аби перезавантажитись.
                #відпочинок #натхнення #життя #природа #читання #спокій #гармонія
                </textarea>
            </div>
            <div class="window-input">
                <h3>Посилання</h3>
                <input type="text" id="post-link" name='link' placeholder="Посилання">
            </div>
        </div>
        <div class="imgs-container">
            <input type="file" id="post-img">
        </div>
        <div class="bottom">
            <button class="outlined" id="img-btn">
                <img src="{% static 'img/Component3.png' %}" alt="">
            </button>
            <button class="outlined" id="emoji-btn">
                <img src="{% static 'img/Component4.png' %}" alt="">
            </button>
            <button id="publish-btn" type="submit" data-url="{% url 'create' %}">Публікація<img src="{% static 'img/telegram.png' %}"></button>
        </div>
    </form>
</div>

{% endblock %}

{% block right %}
        {% if posts %}
        <div class="fast-message">
            <div class="fast-message-content">
                <input class="fast-message-content-input" type="text" placeholder="Про що ти зараз думаєш?">
                <div class="fast-message-content-buttons">
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
                    <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
                    <button class="fast-message-content-button-publish" type="button">
                        <p>Перейти до оформлення</p>
                        <img src="{% static 'home_app/img/PlaneR.png' %}">
                    </button>
                </div>
            </div>
        </div>
        {% for post in posts %}
        <div class="social-post">
            <div class="social-post-user-info">
                <div class="social-post-inner-user-info">
                    <div class="social-post-inner-user-info-total">
                        <img src="{% static 'home_app/img/Avatar7.png' %}">
                        <p>{{ post.user }}</p>
                    </div>
                    <div class="social-post-inner-user-info-sign">
                        <img src="{% static 'home_app/img/sign.png' %}">
                    </div>
                </div>
                <button class="social-post-dots" data-post-id="{{ post.id }}">
                    <img src="{% static 'home_app/img/Dots.png' %}">
                </button>
            </div>
            <div class="social-post-info">
                <div class="social-post-info-text" data-post-id="{{ post.id }}">
                    <textarea readonly class="social-post-text-content" data-post-id="{{ post.id }}">
{{ post.title }}
{{ post.description }}
#{{ post.tags }}
{{ post.link }}
                    </textarea>
                </div>
                <div class="social-post-info-photos">
                    <div class="social-post-info-photos-group-1">
                        {% if post.img %}
                            <p><img src="{{ post.img.url }}" alt="Картинка публікації"></p>
                        {% endif %}
                    </div>
                </div>
                <div class="social-post-info-stats">
                    <div class="social-post-info-stat-likes">
                        <img src="{% static 'home_app/img/like.png' %}">
                        <p>{{ post.likes }} Вподобань</p>
                    </div>
                    <div class="social-post-info-stat-views">
                        <img src="{% static 'home_app/img/eye.png' %}">
                        <p>{{ post.views }} Переглядів</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <script>document.body.style = 'overflow-y: hidden;'</script>
            <div class="fast-message">
                <div class="fast-message-content">
                    <input class="fast-message-content-input" type="text" placeholder="Про що ти зараз думаєш?">
                    <div class="fast-message-content-buttons">
                        <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/picture.png' %}"></button>
                        <button class="fast-message-content-button" type="button"><img src="{% static 'home_app/img/emodji.png' %}"></button>
                        <button class="fast-message-content-button-publish" type="button">
                            <p>Перейти до оформлення</p>
                            <img src="{% static 'home_app/img/PlaneR.png' %}">
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}