<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        {% block links %} {% endblock %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        
        <div class="header-div" >
                <header class="{% if request.user.is_authenticated and page != 'login' and page != 'register' %} space-between {% endif %}" >
                    <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}"></a>
                    {% if request.user.is_authenticated %}
                    {% if page != 'login' and page != 'register' %}
                    <div class="links">
                        <nav class="inside-links">
                            {% if page == 'home' %}
                                <hr color="#E9E5EE">
                                <a class="link" href="{% url 'home' %}" style="background-color: #E9E5EE;"><img class="link-picture" src="{% static 'img/House.png' %}"><p>Головна</p></a>
                                <hr color="#E9E5EE">
                            {% else %}
                                <a class="link" href="{% url 'home' %}"><img class="link-picture" src="{% static 'img/House.png' %}"><p>Головна</p></a>
                            {% endif %}

                            {% if page == 'create' %}
                                <hr color="#E9E5EE">
                                <a class="link" href="{% url 'create' %}" style="background-color: #E9E5EE; "><img class="link-picture" src="{% static 'img/mypub.png' %}"><p>Мої публікації</p></a>
                                <hr color="#E9E5EE">
                            {% else %}
                                <a class="link" href="{% url 'create' %}"><img class="link-picture" src="{% static 'img/mypub.png' %}"><p>Мої публікації</p></a>
                            {% endif %}

                            {% if page == 'friends' %}
                                <hr color="#E9E5EE">
                                <a class="link" href="{% url 'friends' %}" style="background-color: #E9E5EE;"><img class="link-picture" src="{% static 'img/people.png' %}"><p>Друзі</p></a>
                                <hr color="#E9E5EE">
                            {% else %}
                                <a class="link" href="{% url 'friends' %}"><img class="link-picture" src="{% static 'img/people.png' %}"><p>Друзі</p></a>
                            {% endif %}

                            <a class="link" href=""><img class="link-picture" src="{% static 'img/chat.png' %}"><p>Чати</p></a>
                            {% if page == 'settings' %}
                                <hr color="#E9E5EE">
                                <a class="link" href="{% url 'settings' %}" style="background-color: #E9E5EE; "><img class="link-picture" src="{% static 'img/Setting.png' %}"><p>Налаштування</p></a>
                                <hr color="#E9E5EE">
                            {% else %}
                                <a class="link" href="{% url 'settings' %}"><img class="link-picture" src="{% static 'img/Setting.png' %}"><p>Налаштування</p></a>
                            {% endif %}
                        </nav>
                    </div>
                    
                    <form action="{% url 'logout' %}?next=/" method="post" style="{% if not request.user.is_authenticated %} position: absolute; right: 20px; {% endif %}">
                        {% csrf_token %}
                        <a href="{% url 'reg' %}" type="submit" class="link-log-out"><img src="{% static 'img/exit.png' %}"><p>Вихід</p></a>
                    </form>
                    {% endif %}
                    {% endif %}
                </header>
        </div>
        <main>
            {% block body %} {% endblock %}
        </main>
        <footer>

        </footer>
        {% block scripts %}
            <script src="{% static 'js/window.js' %}"></script>
        {% endblock %}
    </body>
</html>