<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} {% endblock %}</title>
        {% block links %} {% endblock %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        
        <div class="header-div" >
                <header class="space-between" >
                    <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}"></a>
                    
                    <div class="links">
                        <nav class="inside-links">
                            <a class="link" href="{% url 'home' %}"><img class="link-picture" src="{% static 'img/House.png' %}"><p>Головна</p></a>
                            <a class="link" href="{% url 'create' %}"><img class="link-picture" src="{% static 'img/mypub.png' %}"><p>Мої публікації</p></a>
                            <a class="link" href=""><img class="link-picture" src="{% static 'img/people.png' %}"><p>Друзі</p></a>
                            <a class="link" href=""><img class="link-picture" src="{% static 'img/chat.png' %}"><p>Чати</p></a>
                            <a class="link" href=""><img class="link-picture" src="{% static 'img/Setting.png' %}"><p>Налаштування</p></a>
                        </nav>
                        <form action="{% url 'logout' %}?next=/" method="post">
                            {% csrf_token %}
                            <a href="{% url 'reg' %}" type="submit" class="link-log-out"><img src="{% static 'img/exit.png' %}"><p>Вихід</p></a>
                        </form>
                    </div>
                </header>
        </div>
        <main>
            {% block body %} {% endblock %}
        </main>
        <footer>

        </footer>
        {% block scripts %}
            <script src="{% static 'js/window.js' %}"></script>
        {% endblock %}
    </body>
</html>